.app {
  text-align: center;
  margin: 20px;
}

.app > h1 {
  font-size: 70px;
  font-family: "Covered By Your Grace", cursive;
  color: darkblue;
}

.app > input {
  outline: none;
  font-size: medium;
  padding: 5px 10px;
  border: none;
  background-color: rgb(203, 194, 241);
  border-radius: 5px;
}
